<template>
  <v-container >
    <v-data-table :headers="headers" :items="usuarios" sort-by="calories" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Listado de Usuarios</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">Nuevo</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="setJugador()">
                    <v-text-field v-model="editedUsuario.nombre" :counter="255" :rules="rules.name" label="Nombre" required></v-text-field>
                    <v-text-field v-model="editedUsuario.email" :rules="rules.email" label="E-mail" required></v-text-field>
                    <v-text-field v-model="editedUsuario.fechaNacimiento" :rules="rules.name" required label="Fecha Nacimiento" type="date" suffix="BD" v-if="!editedUsuario.fechaNacimiento"></v-text-field>
                    <v-text-field v-model="editedUsuario.fechaNacimiento" :rules="rules.name" required label="Fecha Nacimiento" v-else></v-text-field>
                    <v-select v-model="editedUsuario.perfilId" :items="PERFILES" :rules="rules.combos" label="Perfil" item-text="nombre" item-value="id" required @change="changePerfil($event)"></v-select>
                    <v-select v-if="editedUsuario.hasPosicion" v-model="editedUsuario.posicionId" :items="POSICIONES" :rules="rules.combos" label="Posiciones" item-text="nombre" item-value="id" required></v-select>
                    <v-btn type="submit" :disabled="!valid" color="success" class="mr-4">Guardar</v-btn>
                    <v-btn color="error" class="mr-4" @click="close">Cancelar</v-btn>
                  </v-form>
                </v-container>
              </v-card-text>
            </v-card>
            <Loading/>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editJugador(item)" v-if="op === 0">
          mdi-pencil
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="getUsuarios()">Reset</v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import axios from "axios";
import {mapActions, mapGetters} from "vuex";
import notificacionService from "../../services/notificacionService";

export default {
  name: "ListaUsuarios",
  components: {
    Loading: () => import("../../components/Utilities/Loading"),
  },
  props: {
    op: {
      type: Number,
      default: 0
    },
  },
  data () {
    return {
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Id', value: 'id' },
        {
          text: 'Nombre',
          align: 'start',
          sortable: false,
          value: 'nombre',
        },
        {
          text: 'Correo',
          align: 'start',
          sortable: false,
          value: 'email',
        },
        { text: 'Fecha Nacimiento', value: 'fechaNacimiento' },
        { text: 'Posicion', value: 'posicion' },
        { text: 'Perfil', value: 'perfil' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      usuarios: [],
      editedIndex: -1,
      editedUsuario: {
        id: null,
        nombre: '',
        email: '',
        fechaNacimiento: '',
        posicion: '',
        posicionId: 0,
        perfil: '',
        perfilId: 0,
        hasPosicion: false
      },
      defaultUsuario: {
        id: null,
        nombre: '',
        email: '',
        fechaNacimiento: '',
        posicion: '',
        posicionId: 0,
        perfil: '',
        perfilId: 0,
        hasPosicion: false
      },
      valid: true,
      rules: {
        name: [val => (val || '').length > 0 || 'This field is required'],
        email: [v => !!v || 'E-mail is required',v => /.+@.+\..+/.test(v) || 'E-mail must be valid',],
        age: [
          val => val <= 10 || `Limite de jugadores 10!`,
        ],
        combos: [v => !!v || 'Item is required'],
      },
    }
  },
  mounted() {
    this.getUsuarios()
    if(this.POSICIONES.length < 1){
      this.GET_POSICIONES
    }
    if (this.PERFILES.length < 1) {
      this.GET_PERFILES
    }
  },
  computed: {
    ...mapGetters(['POSICIONES','PERFILES']),
    ...mapActions(['GET_POSICIONES', 'GET_PERFILES']),
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo' : 'Editar'
    },
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },
  methods: {
    getUsuarios(){
      this.$store.commit("SET_LOADER", true);
      axios.get(`user/list`)
          .then((res)=>{
            // console.log('clubes desde el modulo: ',res.data);
            this.$store.commit("SET_LOADER", false);
            this.usuarios = res.data
          })
          .catch((error)=>{
            notificacionService.errorNotificacion(error)
          })
    },
    setJugador(){
      if(this.$refs.form.validate()){
        this.$store.commit("SET_LOADER", true);
        axios.post(`user/management`, this.editedUsuario)
            .then((res)=>{
              this.$store.commit("SET_LOADER", false);
              this.save(res.data)
              notificacionService.successNotificacion('Cambios realizados!')
            })
            .catch((error)=>{
              this.$store.commit("SET_LOADER", false);
              notificacionService.errorNotificacion(error)
            })
      }

    },
    editJugador (item) {
      // console.log(item)
      this.editedIndex = this.usuarios.indexOf(item)
      this.editedUsuario = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.usuarios.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.usuarios.splice(this.editedIndex, 1)
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedUsuario = Object.assign({}, this.defaultUsuario)
        this.editedIndex = -1
        this.$refs.form.reset()
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedUsuario = Object.assign({}, this.defaultUsuario)
        this.editedIndex = -1
      })
    },

    save (data) {
      if (this.editedIndex > -1) {
        Object.assign(this.usuarios[this.editedIndex], data)
      } else {
        this.usuarios.push(data)
      }
      this.close()
    },

    reset () {
      this.$refs.form.reset()
    },
    changePerfil(perfil){
      const perfilElegido = this.PERFILES.find(function(element) {
        return element.id === perfil;
      });
      if(perfilElegido){
        this.editedUsuario.hasPosicion = perfilElegido.hasPosicion
      }
    },

  },
}
</script>

<style scoped>

</style>