<template>
  <v-container>
    <ListaJugadores/>

  </v-container>
</template>

<script>

export default {
  name: "Jugadores",
  components: {
    ListaJugadores: () => import('./ListaUsuarios'),
    // DetalleJugador: () => import('./DetalleJugador'),
  },
  /*data() {
    return {
      dialog: false,
      viewDetail: false,
      jugador: null,
      editedJugador: {
        id: null,
        nombre: '',
        escudo: '',
        limiteJugadores: 0,
        limiteSalarial: 0,
      },
      defaultJugador: {
        id: null,
        nombre: '',
        escudo: '',
        limiteJugadores: 0,
        limiteSalarial: 0,
      },
      editedIndex: -1,

      valid: true,
      nameRules: [
        v => !!v || 'Nombre is required',
        v => (v && v.length <= 255) || 'Nombre must be less than 255 characters',
      ],
    }
  },
  methods: {
    viewJugador(jugador){
      this.jugador = jugador
      this.viewDetail = true
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedJugador = Object.assign({}, this.defaultJugador)
        this.editedIndex = -1
      })
    },
    editJugador (item) {
      this.editedIndex = this.CLUBES.indexOf(item)
      this.editedJugador = Object.assign({}, item)
      this.dialog = true
    },
    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.CLUBES[this.editedIndex], this.editedJugador)
      } else {
        this.CLUBES.push(this.editedJugador)
      }
      this.close()
    },
    reset () {
      this.$refs.form.reset()
    },
  },*/
}
</script>

<style scoped>

</style>