<template>
  <v-container>
    <ClubesLista
        v-if="!viewDetail"
        @detail="viewClub($event)"
        @dialog="dialog = $event"
    />
    <DetalleClub
        v-if="viewDetail"
        @detail="viewDetail = $event"
        @dialog="editClub($event)"
        :club="club"
    />
    <template>
      <v-row justify="space-around">
        <v-col cols="auto">
          <v-dialog v-model="dialog" transition="dialog-top-transition" max-width="600">
              <v-card>
                <v-toolbar color="primary" dark>Clubes</v-toolbar>
                <v-card-text>
                  <template>
                    <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="setClub()">
                      <v-text-field v-model="editedClub.nombre" :counter="255" :rules="nameRules" label="Nombre" required></v-text-field>
                      <v-text-field v-model="editedClub.escudo" :counter="255" :rules="nameRules" label="Escudo" required></v-text-field>
<!--                      <v-text-field v-model="editedClub.limiteJugadores" :counter="2" oninput="this.value=this.value.replace(/[^0-9]/g,'')" label="Limite Usuarios" required></v-text-field>-->
                      <v-slider v-model="editedClub.limiteJugadores" :rules="rules.age" color="orange" label="Limite Jugadores" hint="Be honest" min="1" max="15" thumb-label></v-slider>
<!--                      <v-text-field v-model="editedClub.limiteSalarial" :counter="10" oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'')" label="Limite Salarial" required></v-text-field>-->
                      <v-text-field
                          v-model="editedClub.limiteSalarial"
                          label="Limite Salarial"
                          prefix="€"
                          oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'')"
                      ></v-text-field>
                      <v-btn type="submit" :disabled="!valid" color="success" class="mr-4">Guardar</v-btn>
                      <v-btn color="error" class="mr-4" @click="close">Cancelar</v-btn>
                    </v-form>
                  </template>
                </v-card-text>
                <v-card-actions class="justify-end">
                  <v-btn text @click="close()">Close</v-btn>
                </v-card-actions>
              </v-card>
            <Loading/>
          </v-dialog>
        </v-col>
      </v-row>
    </template>
  </v-container>
</template>

<script>

import axios from "axios";
import {mapGetters} from "vuex";
import notificacionService from "../../services/notificacionService";

export default {
  name: "Clubes",
  components: {
    ClubesLista: () => import('./ClubesLista'),
    DetalleClub: () => import('./DetalleClub'),
    Loading: () => import("../../components/Utilities/Loading"),
  },
  data() {
    return {
      dialog: false,
      viewDetail: false,
      club: null,
      editedClub: {
        id: null,
        nombre: '',
        escudo: '',
        limiteJugadores: 0,
        limiteSalarial: 0,
      },
      defaultClub: {
        id: null,
        nombre: '',
        escudo: '',
        limiteJugadores: 0,
        limiteSalarial: 0,
      },
      editedIndex: -1,

      valid: true,
      nameRules: [
        v => !!v || 'Nombre is required',
        v => (v && v.length <= 255) || 'Nombre must be less than 255 characters',
      ],
      rules: {
        age: [
          val => val <= 10 || `Limite de jugadores 10!`,
        ],
        animal: [val => (val || '').length > 0 || 'This field is required'],
        name: [val => (val || '').length > 0 || 'This field is required'],
      },
    }
  },
  created () {
  },
  computed: {
    ...mapGetters(['CLUBES']),
  },
  methods: {
    viewClub(club){
      this.club = club
      this.viewDetail = true
    },
    setClub(){
      if(this.$refs.form.validate()){
        this.$store.commit("SET_LOADER", true);
        axios.post(`clubes/management`, this.editedClub)
            .then((res)=>{
              this.$store.commit("SET_LOADER", false);
              this.jugadores = res.data
              this.save(res.data)
              notificacionService.successNotificacion('Cambios realizados!')
            })
            .catch((error)=>{
              notificacionService.errorNotificacion(error)
            })
      }

    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedClub = Object.assign({}, this.defaultClub)
        this.editedIndex = -1
        this.$refs.form.reset()
      })
    },
    editClub (item) {
      this.editedIndex = this.CLUBES.indexOf(item)
      this.editedClub = Object.assign({}, item)
      this.dialog = true
    },
    save (data) {
      if (this.editedIndex > -1) {
        Object.assign(this.CLUBES[this.editedIndex], data)
      } else {
        this.CLUBES.push(data)
      }
      this.close()
    },
    reset () {
      this.$refs.form.reset()
    },
  },

}
</script>

<style scoped>

</style>