<template>
  <v-container>
    <h2 class="text-center text-md-h4 text-lg-h2 mb-5">Clubes Registrados
      <v-btn class="mx-2" fab dark color="indigo" @click.stop="$emit('dialog',true)"><v-icon dark>mdi-plus</v-icon></v-btn>
    </h2>
    <v-row v-if="CLUBES.length > 0">
      <v-col cols="12" md="3" v-for="item in CLUBES" :key="item.id">
        <v-card class="mx-auto" max-width="344" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="text-overline mb-4">
                LL
              </div>
              <v-list-item-title class="text-h5 mb-1">
                {{item.nombre}}
              </v-list-item-title>
              <v-list-item-subtitle>Limite jugadores: {{item.limiteJugadores}}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar tile size="80">
              <v-avatar size="80">
                <img :src="item.escudo" alt="Avatar">
              </v-avatar>
            </v-list-item-avatar>
          </v-list-item>

          <v-card-actions>
            <v-btn outlined rounded text @click="$emit('detail', item)">
              Ver
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else class="d-flex justify-center">
      <v-col cols="12" md="4" >
        <v-alert dense type="info">
          <p class="text-center text-lg-h4">No hay clubes <strong>registrados</strong> !</p>
        </v-alert>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "ClubesList",
  created () {
    this.cargarClubes()
  },
  computed: {
    ...mapGetters(['CLUBES']),
    ...mapActions(['GET_CLUBES']),
  },
  methods: {
    cargarClubes() {
      if (this.CLUBES.length < 1) {
        this.GET_CLUBES
      }
    },
  },
}
</script>

<style scoped>

</style>