<template>
  <div>
    <v-row class="mt-15">
      <v-col cols="12" class="d-flex justify-center">
        <h3 class="text-lg-h2 text-md-h4">Altas y bajas</h3>
      </v-col>
    </v-row>
    <v-data-table :headers="headers" :items="miembrosClub" sort-by="calories" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Miembros del Club </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-btn class="mx-2 mt-2" fab dark color="indigo" @click.stop="dialog = true"><v-icon dark>mdi-plus</v-icon></v-btn>
        </v-toolbar>
      </template>
      <template v-slot:item.activo="{ item }">
        <v-icon v-if="item.activo" color="success">mdi-check-all</v-icon>
        <v-icon v-else color="red">mdi-close-circle-outline</v-icon>
      </template>
      <template v-slot:item.salario="{ item }">
        <p v-if="item.salario">{{item.salario}} €</p>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editContrato(item)">
          mdi-pencil
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="getMiembros()">Reset</v-btn>
      </template>
    </v-data-table>
    <template>
      <v-row justify="space-around">
        <v-col cols="auto">
          <v-dialog v-model="dialog" transition="dialog-top-transition" max-width="600">
            <v-card>
              <v-toolbar color="primary" dark>Altas & Bajas</v-toolbar>
              <v-card-text>
                <template>
                  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="setContrato()">
                    <v-select v-model="editedForm.perfilId" :items="PERFILES" :disabled="editedIndex > -1" :rules="rules.combos" label="Perfil" item-text="nombre" item-value="id" required @change="changePerfil($event)"></v-select>
                    <v-select v-model="editedForm.userId" :disabled="!editedForm.perfilId || editedIndex > -1" :items="usersByPerfil" :rules="rules.combos" label="A quien?" item-text="nombre" item-value="id" required></v-select>
                    <v-text-field
                        v-if="editedForm.isPagado"
                        v-model="editedForm.salario"
                        label="Salario"
                        prefix="€"
                        :rules="rules.limiteSalario"
                        oninput="this.value=this.value.replace(/[^0-9.0-9]/g,'')"
                        :disabled="editedIndex > -1"
                    ></v-text-field>
                    <v-checkbox v-model="editedForm.activo" label="Activo"></v-checkbox>
                    <v-btn type="submit" :disabled="!valid" color="success" class="mr-4">Guardar</v-btn>
                    <v-btn color="error" class="mr-4" @click="close">Cancelar</v-btn>
                  </v-form>
                </template>
              </v-card-text>
            </v-card>
            <Loading/>
          </v-dialog>
        </v-col>
      </v-row>
    </template>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import axios from "axios";
import notificacionService from "../../services/notificacionService";

export default {
  name: "AltasBajas",
  props: {
    club: {}
  },
  components: {
    Loading: () => import("../../components/Utilities/Loading"),
  },
  data() {
    return {
      dialog: false,
      editedForm: {
        id: null,
        perfilId: null,
        perfil: null,
        club: null,
        userId: null,
        activo: false,
        salario: null,
        limiteJugadores: null,
        hasPosicion: false,
        hasLimitUser: false,
        isPagado: false,
      },
      defaultForm: {
        id: null,
        perfilId: null,
        perfil: null,
        club: null,
        userId: null,
        activo: false,
        salario: null,
        limiteJugadores: null,
        hasPosicion: false,
        hasLimitUser: false,
        isPagado: false,
      },
      editedIndex: -1,
      valid: true,
      rules: {
        age: [
          val => val <= 10 || `Limite de jugadores 10!`,
        ],
        name: [val => (val || '').length > 0 || 'This field is required'],
        combos: [v => !!v || 'Item is required'],
        limiteSalario: [val => (val || '').length > 0 || 'This field is required',
          val => (val && (parseFloat(val)  <= parseFloat(this.limiteSalarioClub))  || 'Supera el limite salarial del club! => '+this.club.limiteSalarial+', Solo dispone de: €'+this.limiteSalarioClub)
        ]
      },
      miembrosClub: [],
      perfilSeleccionado: null,
      usersByPerfil: [],
      headers: [
        // { text: 'Avatar', value: 'avatar',sortable: false, },
        { text: 'Id', value: 'id' },
        {
          text: 'Nombre',
          align: 'start',
          sortable: false,
          value: 'nombre',
        },
        {
          text: 'Correo',
          align: 'start',
          sortable: false,
          value: 'correo',
        },
        { text: 'Posicion', value: 'posicion' },
        { text: 'Perfil', value: 'perfil' },
        { text: 'Salario', value: 'salario' },
        { text: 'Activo', value: 'activo' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },
  mounted () {
    this.getMiembros()
    if (this.PERFILES.length < 1) {
      this.GET_PERFILES
    }
  },
  computed: {
    ...mapGetters(['CLUBES','PERFILES']),
    ...mapActions(['GET_CLUBES','GET_PERFILES']),
    limiteSalarioClub (){
      let limteTotal = 0
      if(this.miembrosClub.length < 1){
        limteTotal = this.club.limiteSalarial
      }else {
        let totalJugadores = this.miembrosClub.reduce(function (total, value) {
          if(value.salario > 0 && value.activo === true){
            return total + parseFloat(value.salario);
          }else{
            return total
          }
        }, 0);
        limteTotal = this.club.limiteSalarial - totalJugadores
        if (this.editedIndex > -1) {
          limteTotal = this.club.limiteSalarial - totalJugadores + parseFloat(this.editedForm.salario)
        }
      }
      return parseFloat(limteTotal)
    }
  },
  methods: {
    getMiembros(){
      axios.get(`contratos/list/`+this.club.id)
          .then((res)=>{
            this.$store.commit("SET_LOADER", false);
            this.miembrosClub = res.data
          })
          .catch((error)=>{
            notificacionService.errorNotificacion(error)
          })
    },
    setContrato(){
      if(this.$refs.form.validate()){
        this.editedForm.club = this.club.id
        this.editedForm.limiteJugadores = this.club.limiteJugadores
        this.$store.commit("SET_LOADER", true);
        axios.post(`contratos/management`, this.editedForm)
            .then((res)=>{
              this.$store.commit("SET_LOADER", false);
              this.save(res.data)
              notificacionService.successNotificacion('Cambios realizados!')
            })
            .catch((error)=>{
              this.$store.commit("SET_LOADER", false);
              // console.log(error.response.data.detail)
              if(error.response && error.response.data.detail){
                notificacionService.errorNotificacion(error.response.data.detail, 6000)
              }else{
                notificacionService.errorNotificacion(error)
              }

            })
      }
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedForm = Object.assign({}, this.defaultForm)
        this.editedIndex = -1
        this.$refs.form.reset()
      })
    },
    editContrato (item) {
      this.changePerfil(item.perfilId)
      this.editedIndex = this.miembrosClub.indexOf(item)
      this.editedForm = Object.assign({}, item)
      this.dialog = true
    },
    save (data) {
      if (this.editedIndex > -1) {
        Object.assign(this.miembrosClub[this.editedIndex], data)
      } else {
        this.miembrosClub.push(data)
      }
      this.close()
    },
    reset () {
      this.$refs.form.reset()
    },
    changePerfil(perfil){
      const perfilElegido = this.PERFILES.find(function(element) {
        return element.id === perfil;
      });

      if(perfilElegido){
        this.editedForm.perfil = perfilElegido.nombre
        this.editedForm.hasLimitUser = perfilElegido.hasLimitUser
        this.editedForm.hasPosicion = perfilElegido.hasPosicion
        this.editedForm.isPagado = perfilElegido.isPagado
      }
      //usuarios por perfil
      this.getUserByPerfil(perfil)

    },
    getUserByPerfil(perfil){
      axios.get(`user/list/`+perfil)
          .then((res)=>{
            this.$store.commit("SET_LOADER", false);
            this.usersByPerfil = res.data
          })
          .catch((error)=>{
            notificacionService.errorNotificacion(error)
          })
    }
  },
}
</script>

<style scoped>

</style>