<template>
  <v-container>
    <v-row class="d-flex justify-center">
<!--      <v-btn  fab dark color="indigo" @click="$emit('detail', false)" title="Atras"><v-icon dark>mdi-chevron-double-left</v-icon></v-btn>-->
      <v-btn  fab dark color="indigo" @click="$emit('detail', false)" title="Atras"><v-icon dark>mdi-arrow-left-bold-circle-outline</v-icon></v-btn>
      <p class="ml-5 mr-5 mt-2 text-center text-lg-h4">perfil: {{perfil.nombre}}</p>
      <v-btn  fab dark color="indigo" @click="$emit('dialog', perfil)" title="Editar"><v-icon dark>mdi-lead-pencil</v-icon></v-btn>
    </v-row>
    <v-row>
      <v-card class="mx-auto" max-width="500">
        <v-img :src="perfil.escudo" :max-height="height" :max-width="height"></v-img>
        <v-card-title>
          Limite Jugadores: {{perfil.limiteJugadores}}
        </v-card-title>

        <v-card-subtitle>
          Limite Salarial: {{perfil.limiteSalarial}}
        </v-card-subtitle>

        <v-card-actions>
<!--          <v-btn color="orange lighten-2" text @click="cargarJugadores(perfil)">Usuarios</v-btn>-->
          <v-spacer></v-spacer>
          <v-btn icon @click="show = !show">
            <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>
            <v-card-text>
              I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
            </v-card-text>
          </div>
        </v-expand-transition>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "DetailsPerfil",
  props: {
    perfil: {},
  },
  data() {
    return {
      show: false,
    }
  },
  computed: {
    // eslint-disable-next-line vue/return-in-computed-property
    height () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return '300px'
        case 'sm': return '400px'
        case 'md': return '500px'
        case 'lg': return '600px'
        case 'xl': return '800px'
      }
    },
  },
  methods: {
  },
}
</script>

<style scoped>

</style>