<template>
  <v-container>
    <PerfilesLista
        v-if="!viewDetail"
        @editProfile="editPerfil($event)"
        @dialog="dialog = $event"
    />
    <template>
      <v-row justify="space-around">
        <v-col cols="auto">
          <v-dialog v-model="dialog" transition="dialog-top-transition" max-width="600">
            <v-card>
              <v-toolbar color="primary" dark>Perfiles</v-toolbar>
              <v-form class="pt-5" ref="form" v-model="valid" lazy-validation @submit.prevent="setPerfil()">
              <v-card-text>
                <template>
                    <v-text-field v-model="editedPerfil.nombre" :counter="255" :rules="nameRules" label="Nombre" required></v-text-field>
                    <v-row>
                      <v-col cols="12" md="4"><v-checkbox v-model="editedPerfil.isPagado" label="Es pagado?"></v-checkbox></v-col>
                      <v-col cols="12" md="4"><v-checkbox v-model="editedPerfil.hasPosicion" label="Tiene posicion?"></v-checkbox></v-col>
                      <v-col cols="12" md="4"><v-checkbox v-model="editedPerfil.hasLimitUser" label="Tiene limite?"></v-checkbox></v-col>
                    </v-row>
                </template>
              </v-card-text>
              <v-card-actions>
                <v-btn type="submit" :disabled="!valid" color="success" class="mr-4">Guardar</v-btn>
                <v-btn color="error" class="mr-4" @click="close">Cancelar</v-btn>
                <v-spacer></v-spacer>
                <v-btn icon @click="show = !show">
                  <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                </v-btn>
              </v-card-actions>
              </v-form>
              <v-expand-transition>
                <div v-show="show">
                  <v-divider></v-divider>
                  <v-card-text>
                    <p><strong>Pagado:</strong> Si se paga al usuario que tenga este perfil. <strong>Ej:</strong> Jugador</p>
                    <p><strong>Posicion:</strong> Si el usuario que tenga este perfil tendra posicion. <strong>Ej:</strong> Delantero</p>
                    <p><strong>Limite:</strong> Perfil con limite de usario. <strong>Ej:</strong> 5 jugadores por equipo(configurable la cantidad en cada club)</p>
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
            <Loading/>
          </v-dialog>
        </v-col>
      </v-row>
    </template>
  </v-container>
</template>

<script>
import {mapGetters} from "vuex";
import axios from "axios";
import notificacionService from "../../services/notificacionService";

export default {
  name: "Perfiles",
  components: {
    PerfilesLista: () => import('./PerfilesLista'),
    Loading: () => import('../../components/Utilities/Loading')
  },
  data() {
    return {
      dialog: false,
      show: false,
      viewDetail: false,
      perfil: null,
      editedPerfil: {
        id: null,
        nombre: '',
        isPagado: false,
        hasPosicion: false,
        hasLimitUser: false,
      },
      defaultPerfil: {
        id: null,
        nombre: '',
        isPagado: false,
        hasPosicion: false,
        hasLimitUser: false,
      },
      editedIndex: -1,

      valid: true,
      nameRules: [
        v => !!v || 'Nombre is required',
        v => (v && v.length <= 255) || 'Nombre must be less than 255 characters',
      ],
    }
  },
  computed: {
    ...mapGetters(['PERFILES']),
  },
  methods: {
    viewPerfil(perfil){
      this.perfil = perfil
      this.viewDetail = true
    },
    setPerfil(){
      if(this.$refs.form.validate()){
        this.$store.commit("SET_LOADER", true);
        axios.post(`perfiles/management`, this.editedPerfil)
            .then((res)=>{
              this.$store.commit("SET_LOADER", false);
              this.jugadores = res.data
              this.save(res.data)
              notificacionService.successNotificacion('Cambios realizados!')
            })
            .catch((error)=>{
              this.$store.commit("SET_LOADER", false);
              notificacionService.errorNotificacion(error)
            })
      }

    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedPerfil = Object.assign({}, this.defaultPerfil)
        this.editedIndex = -1
        this.$refs.form.reset()
      })
    },
    editPerfil (item) {
      this.editedIndex = this.PERFILES.indexOf(item)
      this.editedPerfil = Object.assign({}, item)
      this.dialog = true
    },
    save (data) {
      if (this.editedIndex > -1) {
        Object.assign(this.PERFILES[this.editedIndex], this.editedPerfil)
      } else {
        this.PERFILES.push(data)
      }
      this.close()
    },
    reset () {
      this.$refs.form.reset()
    },
  },
}
</script>

<style scoped>

</style>