<template>
  <v-container>
    <v-container>
      <h2 class="text-center text-md-h4 text-lg-h2 mb-5">Perfiles Registrados
        <v-btn class="mx-2" fab dark color="indigo" @click.stop="$emit('dialog',true)"><v-icon dark>mdi-plus</v-icon></v-btn>
      </h2>
      <v-row v-if="PERFILES.length > 0">
        <v-col cols="12" md="3" v-for="item in PERFILES" :key="item.id">
          <v-card class="mx-auto" max-width="250" outlined>
            <v-list-item three-line>
              <v-list-item-content>
                <div class="text-overline mb-4">
                  LL
                </div>
                <v-list-item-title class="text-h5 mb-1">
                  {{item.nombre}}
                </v-list-item-title>
                <v-list-item-subtitle>Id: {{item.id}}</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-avatar tile size="50">
                <v-avatar size="50">
                  <img src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png" alt="Avatar">
                </v-avatar>
              </v-list-item-avatar>
            </v-list-item>
            <v-card-actions>
              <v-btn outlined rounded color="primary" @click="$emit('editProfile', item)">
                Editar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-else class="d-flex justify-center">
        <v-col cols="12" md="4" >
          <v-alert dense type="info">
            <p class="text-center text-lg-h4">No hay perfiles <strong>registrados</strong> !</p>
          </v-alert>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "ProfilesList",
  created () {
    this.cargarPerfiles()
  },
  computed: {
    ...mapGetters(['PERFILES']),
    ...mapActions(['GET_PERFILES']),
  },
  methods: {
    cargarPerfiles() {
      if (this.PERFILES.length < 1) {
        this.GET_PERFILES
      }
    },
  },
}
</script>

<style scoped>

</style>