<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" temporary app>
      <v-list-item color="primary">
        <v-list-item-avatar>
          <v-img src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>LaLiga</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense rounded >
<!--        <v-list-item link to="altasbajas" active-class="deep-purple&#45;&#45;text text&#45;&#45;accent-4">
          <v-list-item-icon>
            <v-icon>mdi-wrench</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Altas & Bajas</v-list-item-title>
          </v-list-item-content>
        </v-list-item>-->
        <v-list-item link to="clubes" active-class="deep-purple--text text--accent-4">
          <v-list-item-icon>
            <v-icon>mdi-soccer</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Clubes</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="jugadores" active-class="deep-purple--text text--accent-4">
          <v-list-item-icon>
            <v-icon>mdi-account-multiple-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Usuarios</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="perfiles" active-class="deep-purple--text text--accent-4">
          <v-list-item-icon>
            <v-icon>mdi-account-box</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Perfiles</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
<!--      <template v-slot:append>
        <div class="pa-2">
          <v-btn to="login" class="ml-1" block color="primary">
            <span class="mr-2">Login</span>
            <v-icon>mdi-open-in-new</v-icon>
          </v-btn>
        </div>
      </template>-->
    </v-navigation-drawer>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img alt="LaLiga" class="shrink mr-2" contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />
        <v-btn text to="/">
          <span class="mr-2">LaLiga</span>
        </v-btn>
      </div>
      <v-spacer></v-spacer>
      <template v-if="$vuetify.breakpoint.mdAndUp">
<!--        <v-btn text to="altasbajas" class="ml-1">
          <span class="mr-2">Altas & Bajas</span>
          <v-icon>mdi-wrench</v-icon>
        </v-btn>-->
        <v-btn text to="clubes" class="ml-1">
          <span class="mr-2">Clubes</span>
          <v-icon>mdi-soccer</v-icon>
        </v-btn>
        <v-btn text to="jugadores" class="ml-1">
          <span class="mr-2">Usuarios</span>
          <v-icon>mdi-account-multiple-outline</v-icon>
        </v-btn>
        <v-btn text to="perfiles" class="ml-1">
          <span class="mr-2">Perfiles</span>
          <v-icon>mdi-account-box</v-icon>
        </v-btn>
<!--        <v-btn text to="login" class="ml-1">
          <span class="mr-2">Login</span>
          <v-icon>mdi-open-in-new</v-icon>
        </v-btn>-->
      </template>
      <v-app-bar-nav-icon v-else @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
<!--      <v-btn icon v-else @click.stop="drawer = !drawer">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>-->
    </v-app-bar>
    <v-main>
      <router-view/>
      <Loading />
      <Notification />
    </v-main>
    <v-footer  padless app>
      <v-card
          flat
          tile
          width="100%"
          class="white--text text-center"
          color="primary"
      >
        <v-card-text class="white--text">
          &copy; {{ anioActual }} — <strong>LaLiga</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  components: {
    Loading: () => import("./components/Utilities/Loading"),
    Notification: () => import("./components/Utilities/Notification"),
    // Home,
  },
  data: () => ({
    drawer: null,
    anioActual: new Date().getFullYear(),
  }),
};
</script>
