<template>
  <v-overlay :value="LOADER">
    <v-progress-circular indeterminate size="64"></v-progress-circular>
  </v-overlay>
</template>


<script>
import { mapGetters } from "vuex";

export default {
  name: "Loading",
  computed: {
    ...mapGetters(["LOADER"]),
  }
};
</script>