<template>
  <div>
    <div class="text-center ma-2">
      <v-snackbar
          :color="NOTIFICATION.class"
          v-model="snackbar"
          top
          right
          shaped
          :timeout="NOTIFICATION.timeout"
      >
        <v-icon>mdi-alarm-light</v-icon>
        {{ NOTIFICATION.text }}
        <template v-slot:action="{ attrs }">
          <v-btn
              text dark
              v-bind="attrs"
              @click="snackbar = false"
          >
            <v-icon>mdi-close-circle-outline</v-icon>
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>


</template>
<script>
import {mapGetters} from "vuex";

export default {
  name: "Notification",
  computed: {
    ...mapGetters(["NOTIFICATION"]),
    snackbar: {
      get() {
        return this.NOTIFICATION.display;
      },
      set() {
        this.$store.commit("SET_NOTIFICATION", {
          display: false
        })
      }
    }
  }
};
</script>